body {background-color: antiquewhite;}
header{
    text-align: center;
}
.hello{
    font: 15px Geogria, serif; 
    background-color: rgb(141, 177, 131);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
#myHeader{
    font-style:italic;
}
a:hover{
    color: black;
}
img{
    text-align: center;
}