body {background-color: antiquewhite;}
header{
    text-align: center;
}
.aboutMe{
    font: 15px Geogria, serif; 
    background-color: olivedrab;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
#myHeader{
    font-style:italic;
}